---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="About the Track"
	description="About the Track"
	pubDate={new Date('February 2026')}

heroImage="/blog-placeholder-about.jpg">
	<p>
	The track was rebuilt in 2025 with cars available on race days if you wish to try racing.
	</p>

</Layout>
