---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello Racefans </h1>
			<p>
				Welcome to the official Stockcar.info Page
			</p>
			<p>
				This site will show 2026 events at Blythe's Stockcar Track, Fernagh Rd, Omagh, Northern Ireland. More details can be found by visiting our Facebook site found by clicking the icon below. 
			</p>

           <img src="20261.jpeg" alt="day1" width="800" height="500">

			<ul>
			
			</ul>
		
			<p>
			
	
			</p>
		</main>
		<Footer />
	</body>
</html>
